@model IEnumerable<DeBrabander.ViewModels.Categories.CategoryIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Categorie overzicht</h2>

<p>
    @Html.ActionLink("Nieuwe categorie aanmaken", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Aanpassen", "Edit", new { id=item.CategoryId }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id=item.CategoryId })
        </td>
    </tr>
}

</table>
