@model IEnumerable<DeBrabander.ViewModels.Categories.CategoryIndexViewModel>

@{
    ViewBag.Title = "De Brabander";
}

<h2>Categorie overzicht</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Aanpassen", "Edit", new { id=item.CategoryId })
           
        </td>
    </tr>
}

</table>
<a href="@Url.Action("Create", "Categories")" class="btn btn-info">Categorie aanmaken</a>
<a href="@Url.Action("Index", "Settings")" class="btn btn-info">Sluiten</a>
