@model DeBrabander.ViewModels.Customers.CustomerAddDeliveryAddressViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "AddDeliveryAddress";
}

<h2>AddDeliveryAddress</h2>

@using (Html.BeginForm("AddDeliveryAddress", "Customers", FormMethod.Get))
{
  <p> Find by Town - Address : @Html.TextBox("SearchStringTown", ViewBag.CurrentFilterTown as string) <input type="submit" value="Search" /></p> 
  <p> Find by postalcode: @Html.TextBox("SearchStringPostal", ViewBag.CurrentFilterPostal as string) <input type="submit" value="Search" /></p>
}
    
@*
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.customer.Address.Town).ToHtmlString(), "AddDeliveryAddress", new { sortOrder = ViewBag.TownSortParm })

            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.customer.Address.PostalCodeNumber).ToHtmlString(), "AddDeliveryAddress", new { sortOrder = ViewBag.PostalCodeSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer.Address.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer.Address.StreetNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer.Address.Box)
            </th>
        </tr>*@

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("town", "AddDeliveryAddress", new { sortOrder = ViewBag.TownSortParm })
            </th>
            <th>
                @Html.ActionLink("postalcode", "AddDeliveryAddress", new { sortOrder = ViewBag.PostalCodeSortParm })
            </th>
            <th>
                streetname
            </th>
            <th>
                streetnumber
            </th>
            <th>
                Box
            </th>
        </tr>

        @foreach (var item in ViewBag.Addressess)
        {
            <tr>
                <td>
                    @item.Town
                </td>
                <td>
                    @item.PostalCodeNumber
                </td>
                <td>
                    @item.StreetName
                </td>
                <td>
                    @item.StreetNumber
                </td>
                <td>
                    @item.Box
                </td>

            </tr>
        }

    </table>

Page @(ViewBag.Addressess.PageCount < ViewBag.Addressess.PageNumber ? 0 : ViewBag.Addressess.PageNumber) of @ViewBag.Addressess.PageCount
@Html.PagedListPager(Model, page => Url.Action("AddDeliveryAddress", new { page, sortOrder = ViewBag.CurrentSort, currentFilterTown = ViewBag.CurrentFilterTown, currentFilterPostal = ViewBag.CurrentFilterPostal }))













