@model DeBrabander.ViewModels.Customers.CustomerAddDeliveryAddressViewModel
@using PagedList.Mvc;
@using PagedList;
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
 
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "De Brabander";
}
Voeg een werfadres toe aan klant @Model.customer.FullName

@using (Html.BeginForm("AddDeliveryAddress", "Customers", FormMethod.Get))
{
    <h2>Selecteer een reeds bestaand adres</h2>
    <p>
        Find by Town - Address : @Html.TextBox("SearchStringTown", ViewBag.CurrentFilterTown as string)
        Find by postalcode: @Html.TextBox("SearchStringPostal", ViewBag.CurrentFilterPostal as string) <input type="submit" value="Search" />
    </p>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>

                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.customer.Address.Town).ToHtmlString(), "AddDeliveryAddress", new { sortOrder = ViewBag.TownSortParm })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.customer.Address.PostalCodeNumber).ToHtmlString(), "AddDeliveryAddress", new { sortOrder = ViewBag.PostalCodeSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.customer.Address.StreetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.customer.Address.StreetNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.customer.Address.Box)
                </th>
            </tr>

            @foreach (var item in ViewBag.Addressess)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="AddressId" value="@item.AddressId"> Selecteer dit adres<br>
                    </td>
                    <td>
                        @item.Town
                    </td>
                    <td>
                        @item.PostalCodeNumber
                    </td>
                    <td>
                        @item.StreetName
                    </td>
                    <td>
                        @item.StreetNumber
                    </td>
                    <td>
                        @item.Box
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="row">
        <div class="col-md-offset-10 col-md-2">
            Page @(ViewBag.Addressess.PageCount < ViewBag.Addressess.PageNumber ? 0 : ViewBag.Addressess.PageNumber) of @ViewBag.Addressess.PageCount
        </div>
        <div class="col-md-offset-8 col-md-4">
            @Html.PagedListPager((IPagedList)ViewBag.Addressess, page => Url.Action("AddDeliveryAddress", new { @class = "pagination pagination-sm", page, sortOrder = ViewBag.CurrentSort, currentFilterTown = ViewBag.CurrentFilterTown, currentFilterPostal = ViewBag.CurrentFilterPostal }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>

    @*<div class="col-lg-pull-0">
            <h3>Of maak een nieuw werfadres aan</h3>
            <table>
                <tr>
                    <th colspan="2">
                        Of maak een nieuw werfadres aan
                    </th>
                </tr>
                <tbody>
                    <tr>
                        <td>Gemeente :&nbsp;&nbsp; @Html.TextBox("Town", Model.customer.Address.Town)  </td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;PostCode :&nbsp;&nbsp;&nbsp;&nbsp; @Html.TextBox("PostalCodeNumber", Model.customer.Address.PostalCodeNumber, new { type = "number" })</td>
                    </tr>
                    <tr>
                        <td>Straatnaam:&nbsp; @Html.TextBox("StreetName", Model.customer.Address.StreetName) </td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;Huisnummer: @Html.TextBox("StreetNumber", Model.customer.Address.StreetNumber, new { type = "number" }) </td>
                    </tr>
                    <tr>
                        <td>busnummer: @Html.TextBox("Box", Model.customer.Address.Box, new { type = "number" })</td>
                        <td>@Html.Hidden("CustomerId", Model.customer.CustomerId) </td>
                    </tr>
                </tbody>
            </table>

            <h5>Werf Info : @Html.TextBox("DeliveryAddressInfo")</h5>
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <input type="submit" value="Voeg werf adres toe" name="AddDeliveryAddress" class="btn btn-default" formmethod="post" />
        </div>*@

    <div id="AddDeliveryAdress" class="row">
        <div class="row" style="margin-bottom: 4px;">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Gemeente: </span>
                    @Html.TextBox("Town", Model.customer.Address.Town, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Postcode: </span>
                    @Html.TextBox("PostalCodeNumber", Model.customer.Address.PostalCodeNumber, new { @class = "form-control", type = "number" })
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 4px;">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Straatnaam: </span>
                    @Html.TextBox("StreetName", Model.customer.Address.StreetName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Huisnummer: </span>
                    @Html.TextBox("StreetNumber", Model.customer.Address.StreetNumber, new { @class = "form-control", type = "number" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Bus: </span>
                    @Html.TextBox("Box", Model.customer.Address.Box, new { @class = "form-control", type = "number" })
                    @Html.Hidden("CustomerId", Model.customer.CustomerId)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Werfinfo: </span>
                    @Html.TextBox("DeliveryAddressInfo", "", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row col-md-4" style="margin-top: 3px;">
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <input type="submit" value="Voeg werf adres toe" name="AddDeliveryAddress" class="btn btn-default" formmethod="post" />
        </div>
    </div>
}
