@model DeBrabander.ViewModels.Customers.CustomerDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.CellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.CellPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.VATNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.VATNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.Annotation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.Annotation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.ContactCellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.ContactCellPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.Address.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.Address.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.TAXLiability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.TAXLiability)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customer.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
