@model IEnumerable<DeBrabander.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Customers", new { id = item.CustomerID })" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
            <a href="@Url.Action("Details", "Customers", new { id = item.CustomerID })" class="btn btn-info">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
            <a href="@Url.Action("Delete", "Customers", new { id = item.CustomerID })" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a> |
            <a href="@Url.Action("Create", "Quotations", new { id = item.CustomerID })">Offerte toevoegen</a>
        </td>
    </tr>
}

</table>
