@model DeBrabander.ViewModels.Quotations.QuotationIndexViewModel
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<h2>Offerte overzicht</h2>
<link href="~/Content/Site.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Nieuwe offerte aanmaken", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Zoek op klant: &nbsp;@Html.TextBox("searchCustomer", ViewBag.CurrentFilterCustomer as string) 
        Zoek op offertenummer: &nbsp;@Html.TextBox("searchQuotationNumber", ViewBag.CurrentFilterQuotation as string) <br>
        Zoek op werf: &nbsp;@Html.TextBox("searchDelivery", ViewBag.CurrentFilterDelivery as string)
        Oude Offertes : &nbsp;@Html.CheckBox("searchNonActive", (bool)ViewBag.CurrentFilterNonActive)
        <input type="submit" value="Zoek" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.quotation.QuotationNumber).ToHtmlString(), "Index", new { sortOrder = ViewBag.QuotationSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quotation.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quotation.ExpirationDate)
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.quotation.FullName).ToHtmlString(), "Index", new { sortOrder = ViewBag.CustomerSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quotation.Annotation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quotation.customerDeliveryAddress.DeliveryAddressInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quotation.TotalPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.quotations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuotationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annotation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerDeliveryAddress.DeliveryAddressInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <abbr title="Overzicht Offerte">
                    <a href="@Url.Action("Edit", "Quotations", new { id = item.QuotationId })" class="btn btn-info toggle-more-detail">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </a>
                </abbr>
                <abbr title="Verwijder Offerte">
                    <a href="@Url.Action("Delete", "Quotations", new { id = item.QuotationId })" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </abbr>
                <abbr title="Artikel toevoegen">
                    <a href="@Url.Action("AddProducts", "Quotations", new { id = item.QuotationId })" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </abbr>
                <abbr title="Offerte Kopiëren">
                    <a href="@Url.Action("CopyQuotation", "Quotations", new { id = item.QuotationId })" class="btn btn-warning">
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                    </a>
                </abbr>
            </td>
        </tr>
    }

</table>
<br />
Pagina @(Model.quotations.PageCount < Model.quotations.PageNumber ? 0 : Model.quotations.PageNumber) van de @Model.quotations.PageCount
@Html.PagedListPager(Model.quotations, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilterQuotationNumber = ViewBag.CurrentFilterQuotation, currentFilterCustomer = ViewBag.CurrentFilterCustomer, currentFilterDelivery = ViewBag.CurrentFilterDelivery, currentFilterNonActive = ViewBag.CurrentFilterNonActive }))
