@model IEnumerable<DeBrabander.Models.Quotation>

@{
    ViewBag.Title = "Index";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/TableRowCollapse.js"></script>
</head>

<h2>Index</h2>
<link href="~/Content/Site.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Zoek op offertenummer: &nbsp;@Html.TextBox("SearchString")
        <input type="submit" value="Zoek" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuotationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annotation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuotationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Annotation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Quotations", new { id = item.QuotationId })" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
            <a href="#" class="btn btn-info toggle-more-detail">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
            <a href="@Url.Action("Delete", "Quotations", new { id = item.QuotationId })" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
            <a href="@Url.Action("AddProducts", "Quotations", new { id = item.QuotationId })" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
            <a href="@Url.Action("Create", "QuotationDetails", new { id = item.QuotationId })" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <a href="#" class="toggle-more-detail">Detail</a>
        </td>
    </tr>
    <tr class="quotation-detail">
        <td>
            producten
        </td>
    </tr>
}

</table>
