
@{
    ViewBag.Title = "Index";
}

<h2>Instellingen</h2>

<table>
    <tr>
        <td>
            <a href="@Url.Action("Index", "Categories")" class="btn btn-default">Categorie</a>
        </td>
        <td>
            <a href="@Url.Action("Index", "VATs")" class="btn btn-default">BTW</a>
        </td>
        <td>
        <a href="@Url.Action("Edit/1", "Companies")" class="btn btn-default">Bedrijfsgegevens</a>
            
       </td>
        
    </tr>
    <tr>
        <td>
            <a href="@Url.Action("Edit/1", "UserDefinedSettings")" class="btn btn-default">Scherm instellingen</a>
        </td>
        <td>
         <a href="@Url.Action("Edit/1", "UserDefinedSettings")" class="btn btn-default">Emtpy</a>
        </td>
        <td>
            <a href="@Url.Action("Edit/1", "UserDefinedSettings")" class="btn btn-default">Emtpy</a>
        </td>
    </tr>
</table>
