@model DeBrabander.Models.QuotationDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuotationDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuotationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuotationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceExVAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceExVAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reprobel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reprobel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bebat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bebat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recupel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recupel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auvibel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auvibel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATPercId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATPercId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuotationDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
