@*@model DeBrabander.ViewModels.Products.ProductDetailsViewModel*@
@model IEnumerable<DeBrabander.ViewModels.Products.ProductIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceExVAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reprobel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bebat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recupel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auvibel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VATValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EAN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceExVAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reprobel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bebat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recupel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auvibel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VATValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EAN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
