@model DeBrabander.ViewModels.Invoices.InvoiceIndexViewModel
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "De Brabander";
}
<h2>Factuur overzicht</h2>
<link href="~/Content/Site.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            @Html.TextBox("searchCustomer", ViewBag.CurrentFilterCustomer as string, new { @class = "form-control", placeholder = "Zoek op klant", @style = "margin: 3px;" })
            @Html.TextBox("searchInvoiceNumber", ViewBag.currentFilterInvoiceNumber as string, new { @class = "form-control", placeholder = "Zoek op factuurnummer", @style = "margin: 3px;" })
            @Html.TextBox("searchDelivery", ViewBag.CurrentFilterDelivery as string, new { @class = "form-control", placeholder = "Zoek op werf", @style = "margin: 3px;" })
            <input type="submit" value="Zoek" class="btn btn-default" style="margin: 3px" />
        </div>
        <div class="col-md-2 col-md-offset-4">
            <div>
                Pagina @(Model.invoices.PageCount < Model.invoices.PageNumber ? 0 : Model.invoices.PageNumber) van de @Model.invoices.PageCount
            </div>
            <div>
                @Html.PagedListPager(Model.invoices, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilterInvoiceNumber = ViewBag.CurrentFilterInvoice, currentFilterCustomer = ViewBag.CurrentFilterCustomer, currentFilterDelivery = ViewBag.CurrentFilterDelivery }), PagedList.PagedListRenderOptions.tomsLayout)
            </div>
        </div>
    </div>
}
<div class="col-md-12 row">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.invoice.InvoiceNumber).ToHtmlString(), "Index", new { sortOrder = ViewBag.InvoiceSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoice.Date)
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.invoice.FullName).ToHtmlString(), "Index", new { sortOrder = ViewBag.CustomerSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoice.Annotation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoice.customerDeliveryAddress.DeliveryAddressInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoice.TotalPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.invoices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Annotation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customerDeliveryAddress.DeliveryAddressInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <abbr title="Factuur Afdrukken">
                        <a href="@Url.Action("CRInvoice", "Invoices", new { id = item.InvoiceId })" class="btn btn-danger">
                            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                        </a>
                    </abbr>
                </td>
                <td></td>
            </tr>
        }

    </table>
</div>
<br />
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <div>
            Pagina @(Model.invoices.PageCount < Model.invoices.PageNumber ? 0 : Model.invoices.PageNumber) van de @Model.invoices.PageCount
        </div>
        <div>
            @Html.PagedListPager(Model.invoices, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilterInvoiceNumber = ViewBag.CurrentFilterInvoice, currentFilterCustomer = ViewBag.CurrentFilterCustomer, currentFilterDelivery = ViewBag.CurrentFilterDelivery }), PagedList.PagedListRenderOptions.tomsLayout)
        </div>
    </div>
</div>

