@model IEnumerable<DeBrabander.ViewModels.VATs.VatIndexViewModel>

@{
    ViewBag.Title = "BTW";
}

<h2>BTW</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VATValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VATValue)
        </td>
        <td>
            @Html.ActionLink("Aanpassen", "Edit", new { id=item.VATPercId })    
        </td>
    </tr>
}

</table>
<a href="@Url.Action("Create", "VATs")" class="btn btn-info">Tarief aanmaken</a>
<a href="@Url.Action("Index", "Settings")" class="btn btn-info">Sluiten</a>